
@{
    ViewData["Title"] = "bookmarks";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="panelhdr" class="panel-heading">
    <div id="bookmarks-heading">
        <p>Yer işaretleri</p>
        <span>#username</span>
    </div>
</div>
