
@{
    ViewData["Title"] = "notifications";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="panelhdr" class="panel-heading">
    <div id="notifications-heading">
        <p>Bildirimler</p>
    </div>
    <div id="notifications">
        <div class="not-group">
            <a href="">Tümü</a>
        </div>
        <div class="not-group">
            <a href="">Bahsedenler</a>
        </div>
    </div>
</div>


