@*@model twitter_project.Models.User*@
@model twitter_project.ViewModels.UserViewModel

<!DOCTYPE html>
<html>

<head>
    <title>
        Twitter
    </title>
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/c938557ed7.js" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
</head>

<body>
    <div id="container-all" class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div id="loginCard" class="card card-signin my-5">
                    <div id="card-login" class="card-body">
                        <i id="twitterIcon" class="fab fa-twitter  fa-2x" style="color: #1DA1F2;"></i>
                        <h5 id="hdrH5" class="card-title text-center">
                            <b>Twitter'a giriş yap</b>
                        </h5>
                        <form id="loginForm" class="form-signin">
                            <div class="form-group">
                                <input type="text" id="inputUsername" class="form-control"
                                       placeholder="Kullanıcı adı giriniz" required>
                            </div>
                            <div class="form-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Şifre"
                                       required>
                            </div>
                            <button id="login-button" class="btn btn-lg btn-primary btn-block " type="submit">Giriş Yap</button>
                        </form>
                        <a id="aforgotpswrd" href="">Şifreni mi unuttun?</a>
                        <span id="seperator">.</span>
                        <a id="aregister" href="">Twitter'a Kaydol</a>
                    </div>
                </div>
            </div>

            <div id="spinner-holder">
                <p>Loading...</p>
                <div id="spinner" class="spinner-border m-5" role="status" style="color:#007bff">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div id="pop-up">
        <div id="registerCard" class="card card-signin my-5">
            <div id="card-register" class="card-body">
                <form onsubmit="Register()" id="register-form" action="/Login/Index" method="post" class="form-signin">
                    <i id="twitterIcon-register" class="fab fa-twitter  fa-2x"
                       style="color: #1DA1F2; display: block; margin-bottom: 20px;"></i>
                    <h5 id="hdrH5" class="card-title text-center" style="float: left;">
                        <b>Hesabını Oluştur</b>
                    </h5>

                    <div class="form-group">
                        <label for="register-username">Kullanıcı Adı</label>
                        <input name="Username" type="text" id="register-username" class="form-control" placeholder="" required
                               autofocus>
                    </div>
                    <div class="form-group">
                        <label for="register-name">İsim</label>
                        <input name="Name" type="text" id="register-name" class="form-control" placeholder="" required
                               autofocus>
                    </div>
                    <div class="form-group">
                        <label for="register-phone">Telefon Numarası</label>
                        <input name="Phone" type="number" id="register-phone" class="form-control" placeholder="" required
                               autofocus>
                    </div>
                    <div class="form-group">
                        <label for="register-email">E-mail</label>
                        <input name="Email" type="email" id="register-email" class="form-control" placeholder="" required
                               autofocus>
                    </div>
                    <div class="form-group">
                        <label for="register-password">Şifre</label>
                        <input name="Password" type="password" id="register-password" class="form-control" placeholder="" required>
                    </div>
                    <div class="form-group" hidden>
                        <label for="register-photo">Şifre</label>
                        <input name="ProfileImage" type="hidden" id="register-profile-photo" class="form-control" placeholder=""  value="">
                    </div>
                    <button id="button-register" class="btn btn-lg btn-primary btn-block " type="submit" value="Create">Kayıt ol</button>
                </form>
            </div>
        </div>
    </div>
    <!--Imports-->
    <script>

        const loginForm = document.getElementById('loginForm');
        const registerForm = document.getElementById('register-form');
        const registerCard = document.getElementById('registerCard');
        const container = document.getElementById('container-all');
        const cardBody = document.getElementById('crdBdy');
        let warnDiv = document.createElement('div');
        const spinner = document.getElementById('spinner');
        const registerTwitter = document.getElementById('aregister');
        const registerModal = document.getElementById("pop-up");

        loginForm.addEventListener("submit", validateForm);


        function validateForm() {

            var obj = {
                Username: $("#inputUsername").val(),
                Password: $("#inputPassword").val(),
            }


            container.classList.add("container");

            event.preventDefault();
            warnDiv.style.display = 'none';
            const usrName = document.forms["loginForm"]["inputUsername"].value;
            const pswrd = document.forms["loginForm"]["inputPassword"].value;
            const middleCard = document.getElementById('loginCard');
            const spinnerHolder = document.getElementById('spinner-holder');

            $.ajax({
                type: "POST",
                data: obj,
                url: "/Login/Login",
                success: function (response) {

                    if (document.contains(document.getElementById("login-warn-div"))) {
                        document.getElementById("login-warn-div").remove();
                    }

                    var loginWarnDiv = document.createElement('div');
                    loginWarnDiv.setAttribute("id", "login-warn-div");

                    loginWarnDiv.innerHTML = response.message;
                    loginForm.appendChild(loginWarnDiv);


                    switch (response.message) {
                        case "Giriş yapılıyor":

                            middleCard.style.display = 'none';
                            spinnerHolder.style.display = 'block';

                            setTimeout(function () {
                                openHomePage();
                            }, 2000);

                            break;
                        case "Hatalı parola veya kullanıcı adı":

                            loginWarnDiv.classList.add('warn-div');
                            loginWarnDiv.style.position = 'relative';
                            loginWarnDiv.style.marginBottom = '30px';
                            loginWarnDiv.style.marginLeft = '26%';
                            loginWarnDiv.innerText = response.message;
                            middleCard.appendChild(loginWarnDiv);
                            middleCard.classList.add("apply-shake");
                            break;

                        default:
                    }
                },
                error: function (response) {
                    console.log("error");
                }
            });

        }

        function openHomePage() {
            window.location.href = "/Home/HomePage";
        }

        registerTwitter.addEventListener('click', showModal);

        function showModal() {
            // Get the modal
            event.preventDefault();
            console.log("geliyor");

            registerModal.style.display = "block";
        }

        window.onclick = function (event) {
            console.log(event.target);
            if (event.target == registerModal) {
                registerModal.style.display = "none";

            }
        }

        function Register() {
            event.preventDefault();
            var obj = {
                Username: $("#register-username").val(),
                Password: $("#register-password").val(),
                Name: $("#register-name").val(),
                Phone: $("#register-phone").val(),
                Email: $("#register-email").val(),
                ProfileImage : $("#register-profile-photo").val(),
            }

            $.ajax({
                type: "POST",
                data: obj,
                url: "/Login/Register",
                success: function (response) {

                    if (document.contains(document.getElementById("register-warn-div"))) {
                        document.getElementById("register-warn-div").remove();
                    }

                    var registerWarnDiv = document.createElement('div');
                    registerWarnDiv.setAttribute("id", "register-warn-div");

                    registerWarnDiv.innerHTML = response.message;
                    registerForm.appendChild(registerWarnDiv);


                    switch (response.message) {
                        case "Bu kullanıcı zaten kayıtlı":

                            registerCard.classList.add("apply-shake");
                            registerWarnDiv.classList.add('warn-div');
                            registerWarnDiv.style.position = 'relative';
                            registerWarnDiv.style.right = '5.3rem';

                            break;
                        case "Kayıt başarılı":


                            break;
                        case "Verilerde hata var.":

                            registerCard.classList.add("apply-shake");
                            registerWarnDiv.classList.add('warn-div');

                            break;

                        default:

                    }

                    //location.href = "/Home/Index";
                },
                error: function (response) {
                    console.log("error");
                }
            });
        }

    </script>

</body>

</html>
